## This is the data cleaning file for merging all 3 dfs

### output file: cleaned_merged_all_data.csv

In [5]:
import pandas as pd
import numpy as np

In [ ]:
import ast
import pandas as pd
import json

records = []
with open("australian_user_reviews.json", "rt", encoding="utf-8") as f:
    for line in f:
        line = line.strip()
        if not line:
            continue
        obj = ast.literal_eval(line)  
        records.append(obj)

df1 = pd.DataFrame(records)

print(df1.shape)
print(df1.head())

(25799, 3)
             user_id                                           user_url  \
0  76561197970982479  http://steamcommunity.com/profiles/76561197970...
1            js41637               http://steamcommunity.com/id/js41637
2          evcentric             http://steamcommunity.com/id/evcentric
3              doctr                 http://steamcommunity.com/id/doctr
4          maplemage             http://steamcommunity.com/id/maplemage

                                             reviews
0  [{'funny': '', 'posted': 'Posted November 5, 2...
1  [{'funny': '', 'posted': 'Posted June 24, 2014...
2  [{'funny': '', 'posted': 'Posted February 3.',...
3  [{'funny': '', 'posted': 'Posted October 14, 2...
4  [{'funny': '3 people found this review funny',...

In [ ]:
import ast
import pandas as pd
import json


records = []
with open("australian_users_items.json", "rt", encoding="utf-8") as f:
    for line in f:
        line = line.strip()
        if not line:
            continue
        obj = ast.literal_eval(line) 
        records.append(obj)

df2 = pd.DataFrame(records)

print(df2.shape)
print(df2.head())

(88310, 5)
             user_id  items_count           steam_id  \
0  76561197970982479          277  76561197970982479
1            js41637          888  76561198035864385
2          evcentric          137  76561198007712555
3         Riot-Punch          328  76561197963445855
4              doctr          541  76561198002099482

                                            user_url  \
0  http://steamcommunity.com/profiles/76561197970...
1               http://steamcommunity.com/id/js41637
2             http://steamcommunity.com/id/evcentric
3            http://steamcommunity.com/id/Riot-Punch
4                 http://steamcommunity.com/id/doctr

                                               items
0  [{'item_id': '10', 'item_name': 'Counter-Strik...
1  [{'item_id': '10', 'item_name': 'Counter-Strik...
2  [{'item_id': '1200', 'item_name': 'Red Orchest...
3  [{'item_id': '10', 'item_name': 'Counter-Strik...
4  [{'item_id': '300', 'item_name': 'Day of Defea...

## DF1: User Review

In [5]:
df1 = df1.explode('reviews').reset_index(drop=True)

In [6]:
def parse_review(x):
    if isinstance(x, dict):
        review_text = x.get('review', '')
        posted_date = x.get('posted', '')
        item_id = x.get('item_id', '')
        recommend = x.get('recommend', '')

        return {
            'review_text': review_text,
            'posted': posted_date,
            'item_id': item_id,
            'recommend': recommend
        }
    
    return {"review_text": "", "posted": "", "item_id": "", "recommend": ""}



df1 = df1.join(df1['reviews'].apply(parse_review).apply(pd.Series))

In [7]:
df1.drop(columns=['reviews'], inplace=True)

In [8]:
from datetime import datetime

df1['posted'] = df1['posted'].astype(str).str.replace(r'Posted |[.]', '', regex=True)
df1['posted'] = pd.to_datetime(df1['posted'], errors='coerce')
df1

,user_id,user_url,review_text,posted,item_id,recommend
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Simple yet with great replayability. In my opi...,2011-11-05,1250,True
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,It's unique and worth a playthrough.,2011-07-15,22200,True
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,Great atmosphere. The gunplay can be a bit chu...,2011-04-21,43110,True
3,js41637,http://steamcommunity.com/id/js41637,I know what you think when you see this title ...,2014-06-24,251610,True
4,js41637,http://steamcommunity.com/id/js41637,For a simple (it's actually not all that simpl...,2013-09-08,227300,True
...,...,...,...,...,...,...
59328,76561198312638244,http://steamcommunity.com/profiles/76561198312...,a must have classic from steam definitely wort...,NaT,70,True
59329,76561198312638244,http://steamcommunity.com/profiles/76561198312...,this game is a perfect remake of the original ...,NaT,362890,True
59330,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,had so much fun plaing this and collecting res...,NaT,273110,True
59331,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,:D,NaT,730,True
59332,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,so much fun :D,NaT,440,True

In [9]:
df1['user_id'] = df1['user_id'].astype('string')
df1['user_url']= df1['user_url'].astype('string')
df1['review_text'] = df1['review_text'].astype('string')
df1['item_id'] = pd.to_numeric(df1['item_id'], errors='coerce').dropna()
df1['recommend'] = df1['recommend'].astype(bool)

## DF2: User-Item

In [36]:
df2_test = df2.copy()

In [37]:
df2_test = df2_test.explode('items').reset_index(drop=True)

In [ ]:
df2_test.drop(columns=['user_url', 'steam_id', 'items_count'], inplace=True)
df1.drop(columns='user_url', inplace=True)

In [43]:
df1

,user_id,review_text,posted,item_id,recommend
0,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True
1,76561197970982479,It's unique and worth a playthrough.,2011-07-15,22200.0,True
2,76561197970982479,Great atmosphere. The gunplay can be a bit chu...,2011-04-21,43110.0,True
3,js41637,I know what you think when you see this title ...,2014-06-24,251610.0,True
4,js41637,For a simple (it's actually not all that simpl...,2013-09-08,227300.0,True
...,...,...,...,...,...
59328,76561198312638244,a must have classic from steam definitely wort...,NaT,70.0,True
59329,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True
59330,LydiaMorley,had so much fun plaing this and collecting res...,NaT,273110.0,True
59331,LydiaMorley,:D,NaT,730.0,True
59332,LydiaMorley,so much fun :D,NaT,440.0,True

In [223]:
df1_df2 = pd.merge(df1, df2_test, on=['user_id'], how='inner')
df1_df2

,user_id,review_text,posted,item_id,recommend,items
0,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,"{'item_id': '10', 'item_name': 'Counter-Strike..."
1,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,"{'item_id': '20', 'item_name': 'Team Fortress ..."
2,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
3,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
4,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...,...
7817956,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True,"{'item_id': '422970', 'item_name': 'Devil Dagg..."
7817957,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True,"{'item_id': '379720', 'item_name': 'DOOM', 'pl..."
7817958,LydiaMorley,had so much fun plaing this and collecting res...,NaT,273110.0,True,NaN
7817959,LydiaMorley,:D,NaT,730.0,True,NaN
7817960,LydiaMorley,so much fun :D,NaT,440.0,True,NaN

In [224]:
df1_df2.dropna(subset=['items', 'item_id'], inplace=True)

In [226]:
def parse_item(x):
    if isinstance(x, dict):
        item_id = x.get('item_id', '')
        item_name = x.get('item_name', '')
        playtime_forever = x.get('playtime_forever', '')
        playtime_2weeks = x.get('playtime_2weeks', '')

        return {
            'item_id': item_id,
            'item_name': item_name,
            'playtime_forever': playtime_forever,
            'playtime_2weeks': playtime_2weeks
        }
    
    return {"item_id": "", "item_name": "", "playtime_forever": "", "playtime_2weeks": ""}



df1_df2 = df1_df2.join(df1_df2['items'].apply(parse_item).apply(pd.Series).add_suffix('_parsed'))

In [227]:
df1_df2

,user_id,review_text,posted,item_id,recommend,items,item_id_parsed,item_name_parsed,playtime_forever_parsed,playtime_2weeks_parsed
0,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,"{'item_id': '10', 'item_name': 'Counter-Strike...",10,Counter-Strike,6,0
1,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,"{'item_id': '20', 'item_name': 'Team Fortress ...",20,Team Fortress Classic,0,0
2,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,"{'item_id': '30', 'item_name': 'Day of Defeat'...",30,Day of Defeat,7,0
3,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",40,Deathmatch Classic,0,0
4,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...,...,...,...,...,...
7817953,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True,"{'item_id': '346680', 'item_name': 'Black Mesa...",346680,Black Mesa Dedicated Server,0,0
7817954,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True,"{'item_id': '362890', 'item_name': 'Black Mesa...",362890,Black Mesa,2184,0
7817955,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True,"{'item_id': '400040', 'item_name': 'ShareX', '...",400040,ShareX,1,0
7817956,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True,"{'item_id': '422970', 'item_name': 'Devil Dagg...",422970,Devil Daggers,0,0
7817957,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True,"{'item_id': '379720', 'item_name': 'DOOM', 'pl...",379720,DOOM,1178,0

In [228]:
df1_df2.dropna(subset=['item_id_parsed', 'item_id'], inplace=True)

In [229]:
df1_df2['item_id_parsed'] = pd.to_numeric(df1_df2['item_id_parsed'], errors='coerce').dropna()

In [230]:
df1_df2 = df1_df2.loc[df1_df2['item_id'] == df1_df2['item_id_parsed']]

In [231]:
df1_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46317 entries, 46 to 7817954
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_id                  46317 non-null  object
 1   review_text              46317 non-null  string
 2   posted                   37949 non-null  datetime64[ns]
 3   item_id                  46317 non-null  float64
 4   recommend                46317 non-null  bool
 5   items                    46317 non-null  object
 6   item_id_parsed           46317 non-null  int64
 7   item_name_parsed         46317 non-null  object
 8   playtime_forever_parsed  46317 non-null  int64
 9   playtime_2weeks_parsed   46317 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(3), object(3), string(1)
memory usage: 3.6+ MB

In [232]:
df1_df2.reset_index(drop=True, inplace=True)

In [233]:
df1_df2.drop(columns=['items', 'item_id_parsed'], inplace=True)
df1_df2.rename(columns={'item_name_parsed': 'item_name', 'playtime_forever_parsed': 'playtime_forever', 'playtime_2weeks_parsed': 'playtime_2weeks'}, inplace=True)
df1_df2

/var/folders/s0/b4wg2xfd5n534kwln8nbmdpc0000gn/T/ipykernel_48682/2157856952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_df2.drop(columns=['items', 'item_id_parsed'], inplace=True)
/var/folders/s0/b4wg2xfd5n534kwln8nbmdpc0000gn/T/ipykernel_48682/2157856952.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_df2.rename(columns={'item_name_parsed': 'item_name', 'playtime_forever_parsed': 'playtime_forever', 'playtime_2weeks_parsed': 'playtime_2weeks'}, inplace=True)

,user_id,review_text,posted,item_id,recommend,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,Killing Floor,10006,0
1,76561197970982479,It's unique and worth a playthrough.,2011-07-15,22200.0,True,Zeno Clash,271,0
2,76561197970982479,Great atmosphere. The gunplay can be a bit chu...,2011-04-21,43110.0,True,Metro 2033,834,0
3,js41637,I know what you think when you see this title ...,2014-06-24,251610.0,True,Barbie™ Dreamhouse Party™,84,0
4,js41637,For a simple (it's actually not all that simpl...,2013-09-08,227300.0,True,Euro Truck Simulator 2,551,0
...,...,...,...,...,...,...,...,...
46312,Ghoustik,Gra naprawdę fajna.Ale jest kilka rzeczy do kt...,NaT,730.0,True,Counter-Strike: Global Offensive,3969,0
46313,76561198312638244,this is a very fun and nice 80s themed shooter...,NaT,233270.0,True,Far Cry® 3 Blood Dragon,533,0
46314,76561198312638244,if you liked Half life i would really recommen...,NaT,130.0,True,Half-Life: Blue Shift,221,0
46315,76561198312638244,a must have classic from steam definitely wort...,NaT,70.0,True,Half-Life,1010,0
46316,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True,Black Mesa,2184,0

In [239]:
df1_df2.loc[(df1_df2['user_id'] == '76561198156664158') & (df1_df2['item_id'] == 252950.00)]

,user_id,review_text,posted,item_id,recommend,item_name,playtime_forever,playtime_2weeks
36295,76561198156664158,love it,NaT,252950.0,True,Rocket League,16470,1317

In [238]:
df1_df2 = df1_df2.sort_values("posted")
df1_df2 = df1_df2.drop_duplicates(subset=['user_id', 'item_id', 'posted'], keep='first').reset_index(drop=True)

In [240]:
df1_df2

,user_id,review_text,posted,item_id,recommend,item_name,playtime_forever,playtime_2weeks
0,TheWhipster,You'll Be Emo'd by the end of it!,2010-10-16,39690.0,True,ArcaniA,1527,0
1,eddy96,A very addictive puzzle game with incredible a...,2010-10-25,40700.0,True,Machinarium,314,0
2,farsel,this is the most epic of epics and these train...,2010-11-19,24010.0,True,Train Simulator,85,0
3,farsel,"im mad about balls, and this game",2010-11-20,25700.0,True,Madballs in...Babo: Invasion,9,0
4,farsel,brill plane simulator where you can do some si...,2010-11-20,15320.0,True,IL-2 Sturmovik: 1946,36,0
...,...,...,...,...,...,...,...,...
44181,Ghoustik,Gra naprawdę fajna.Ale jest kilka rzeczy do kt...,NaT,730.0,True,Counter-Strike: Global Offensive,3969,0
44182,76561198312638244,this is a very fun and nice 80s themed shooter...,NaT,233270.0,True,Far Cry® 3 Blood Dragon,533,0
44183,76561198312638244,if you liked Half life i would really recommen...,NaT,130.0,True,Half-Life: Blue Shift,221,0
44184,76561198312638244,a must have classic from steam definitely wort...,NaT,70.0,True,Half-Life,1010,0
44185,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True,Black Mesa,2184,0

## DF4: Game Metadata

In [ ]:
df4_cleaned = pd.read_csv('clean_steam_games.csv', index_col=0)

In [15]:
df4_cleaned.head()

,publisher,genres,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,sentiment
0,['kotoshiro'],"['action', 'casual', 'indie', 'simulation', 's...",Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['strategy', 'action', 'indie', 'casual', 'sim...",http://steamcommunity.com/app/761140/reviews/?...,['single-player'],4.99,False,761140.0,['kotoshiro'],NaN
1,"['making fun, inc.']","['freetoplay', 'indie', 'rpg', 'strategy']",Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['freetoplay', 'strategy', 'indie', 'rpg', 'ca...",http://steamcommunity.com/app/643980/reviews/?...,"['single-player', 'multi-player', 'onlinemulti...",0.00,False,643980.0,['secret level srl'],Mostly Positive
2,['poolians.com'],"['casual', 'freetoplay', 'indie', 'simulation'...",Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"['freetoplay', 'simulation', 'sports', 'casual...",http://steamcommunity.com/app/670290/reviews/?...,"['single-player', 'multi-player', 'onlinemulti...",0.00,False,670290.0,['poolians.com'],Mostly Positive
3,['彼岸领域'],"['action', 'adventure', 'casual']",弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"['action', 'adventure', 'casual']",http://steamcommunity.com/app/767400/reviews/?...,['single-player'],0.99,False,767400.0,['彼岸领域'],NaN
4,[],NaN,Log Challenge,http://store.steampowered.com/app/773570/Log_C...,NaN,"['action', 'indie', 'casual', 'sports']",http://steamcommunity.com/app/773570/reviews/?...,"['single-player', 'fullcontrollersupport', 'ht...",2.99,False,773570.0,[],NaN

In [16]:
df4_cleaned.drop(columns=['url', 'release_date', 'reviews_url', 'early_access', 'sentiment'], inplace=True)

In [17]:
df4_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31301 entries, 0 to 31310
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   publisher  31301 non-null  object
 1   genres     28534 non-null  object
 2   title      31301 non-null  object
 3   tags       31301 non-null  object
 4   specs      31301 non-null  object
 5   price      29967 non-null  float64
 6   id         31300 non-null  float64
 7   developer  31301 non-null  object
dtypes: float64(2), object(6)
memory usage: 2.1+ MB

In [18]:
df4_cleaned.rename(columns={'id': 'item_id'}, inplace=True)

## Merge All

In [ ]:
df1_df2.head()

In [12]:
df4_cleaned.head()

,publisher,genres,title,tags,specs,price,item_id,developer
0,['kotoshiro'],"['action', 'casual', 'indie', 'simulation', 's...",Lost Summoner Kitty,"['strategy', 'action', 'indie', 'casual', 'sim...",['single-player'],4.99,761140.0,['kotoshiro']
1,"['making fun, inc.']","['freetoplay', 'indie', 'rpg', 'strategy']",Ironbound,"['freetoplay', 'strategy', 'indie', 'rpg', 'ca...","['single-player', 'multi-player', 'onlinemulti...",0.00,643980.0,['secret level srl']
2,['poolians.com'],"['casual', 'freetoplay', 'indie', 'simulation'...",Real Pool 3D - Poolians,"['freetoplay', 'simulation', 'sports', 'casual...","['single-player', 'multi-player', 'onlinemulti...",0.00,670290.0,['poolians.com']
3,['彼岸领域'],"['action', 'adventure', 'casual']",弹炸人2222,"['action', 'adventure', 'casual']",['single-player'],0.99,767400.0,['彼岸领域']
4,[],NaN,Log Challenge,"['action', 'indie', 'casual', 'sports']","['single-player', 'fullcontrollersupport', 'ht...",2.99,773570.0,[]

In [ ]:
merge_df = pd.merge(df1_df2, df4_cleaned, left_on='item_id', right_on='item_id', how='inner')

In [404]:
merge_df

,user_id,review_text,posted,item_id,recommend,item_name,playtime_forever,playtime_2weeks,publisher,genres,title,tags,specs,price,developer
0,TheWhipster,You'll Be Emo'd by the end of it!,2010-10-16,39690.0,True,ArcaniA,1527,0,THQ Nordic,['RPG'],ArcaniA,"['RPG', 'Open World', 'Singleplayer', 'Fantasy...",['Single-player'],19.99,Spellbound Studios
1,eddy96,A very addictive puzzle game with incredible a...,2010-10-25,40700.0,True,Machinarium,314,0,Amanita Design,"['Adventure', 'Indie']",Machinarium,"['Point & Click', 'Adventure', 'Puzzle', 'Indi...","['Single-player', 'Steam Achievements', 'Full ...",9.99,Amanita Design
2,farsel,this is the most epic of epics and these train...,2010-11-19,24010.0,True,Train Simulator,85,0,Dovetail Games - Trains,['Simulation'],Train Simulator,"['Simulation', 'Trains', 'Singleplayer', 'Driv...","['Single-player', 'Steam Achievements', 'Full ...",24.99,Dovetail Games
3,farsel,"im mad about balls, and this game",2010-11-20,25700.0,True,Madballs in...Babo: Invasion,9,0,Playbrains,['Indie'],Madballs in Babo:Invasion,"['Indie', 'Top-Down', 'Action', 'Shooter', 'Co...","['Single-player', 'Multi-player', 'Co-op', 'Cr...",4.99,Playbrains
4,farsel,brill plane simulator where you can do some si...,2010-11-20,15320.0,True,IL-2 Sturmovik: 1946,36,0,1C Online Games,['Simulation'],IL-2 Sturmovik: 1946,"['Simulation', 'Flight', 'World War II', 'Mili...","['Single-player', 'Multi-player', 'Steam Cloud...",9.99,1C: Maddox Games
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39950,Ghoustik,Gra naprawdę fajna.Ale jest kilka rzeczy do kt...,NaT,730.0,True,Counter-Strike: Global Offensive,3969,0,Valve,['Action'],Counter-Strike: Global Offensive,"['FPS', 'Multiplayer', 'Shooter', 'Action', 'T...","['Multi-player', 'Steam Achievements', 'Full c...",14.99,Valve
39951,76561198312638244,this is a very fun and nice 80s themed shooter...,NaT,233270.0,True,Far Cry® 3 Blood Dragon,533,0,Ubisoft,"['Action', 'Adventure']",Far Cry 3 - Blood Dragon,"['FPS', '1980s', 'Comedy', 'Open World', 'Acti...","['Single-player', 'Steam Trading Cards', 'Part...",14.99,Ubisoft Montreal
39952,76561198312638244,if you liked Half life i would really recommen...,NaT,130.0,True,Half-Life: Blue Shift,221,0,Valve,['Action'],Half-Life: Blue Shift,"['FPS', 'Action', 'Sci-fi', 'Singleplayer', 'S...",['Single-player'],4.99,Gearbox Software
39953,76561198312638244,a must have classic from steam definitely wort...,NaT,70.0,True,Half-Life,1010,0,Valve,['Action'],Half-Life,"['FPS', 'Classic', 'Action', 'Sci-fi', 'Single...","['Single-player', 'Multi-player', 'Valve Anti-...",9.99,Valve
39954,76561198312638244,this game is a perfect remake of the original ...,NaT,362890.0,True,Black Mesa,2184,0,Crowbar Collective,"['Action', 'Adventure', 'Indie', 'Early Access']",Black Mesa,"['Early Access', 'FPS', 'Remake', 'Action', 'S...","['Single-player', 'Multi-player', 'Online Mult...",19.99,Crowbar Collective

In [405]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39955 entries, 0 to 39954
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           39955 non-null  object
 1   review_text       39955 non-null  string
 2   posted            32777 non-null  datetime64[ns]
 3   item_id           39955 non-null  float64
 4   recommend         39955 non-null  bool
 5   item_name         39955 non-null  object
 6   playtime_forever  39955 non-null  int64
 7   playtime_2weeks   39955 non-null  int64
 8   publisher         38078 non-null  object
 9   genres            38425 non-null  object
 10  title             39955 non-null  object
 11  tags              39955 non-null  object
 12  specs             39955 non-null  object
 13  price             39633 non-null  float64
 14  developer         38350 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(8), string(1)
memory usage: 4.3+ MB

In [406]:
merge_df.to_csv('cleaned_merged_all_data.csv', index=False)