In [1]:
import pandas as pd
import numpy as np
from ast import literal_eval

### Data Preprocessing

#### DF4

In [2]:
# import metadata dataset

df4_cleaned = pd.read_csv('clean_df4.csv', index_col=0)
df4_cleaned.drop(columns=['url', 'release_date', 'reviews_url', 'early_access', 'sentiment'], inplace=True)
df4_cleaned.rename(columns={'id': 'item_id'}, inplace=True)

In [3]:
def sanitize(x):
    if isinstance(x, list):
        # strip spaces and convert all to lowercase
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        # check if director exists
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ""

In [4]:
df4_cleaned['developer']

0                       ['kotoshiro']
1                ['secret level srl']
2                    ['poolians.com']
3                            ['彼岸领域']
4                                  []
                     ...
31306          ['nikita "ghost_rus"']
31307                      ['sacada']
31308    ['laush dmitriy sergeevich']
31309               ['xropi,stev3ns']
31310                              []
Name: developer, Length: 31301, dtype: object

In [5]:
# Clean the metadata fields

df4_cleaned.fillna({'genres': '[]'}, inplace=True)
for feature in ['tags', 'genres', 'specs', 'developer', 'publisher']:
    df4_cleaned[feature] = df4_cleaned[feature].apply(literal_eval)
    df4_cleaned[feature] = df4_cleaned[feature].apply(sanitize)

In [6]:
df4_cleaned['tags']

0            [strategy, action, indie, casual, simulation]
1        [freetoplay, strategy, indie, rpg, cardgame, t...
2        [freetoplay, simulation, sports, casual, indie...
3                              [action, adventure, casual]
4                          [action, indie, casual, sports]
                               ...
31306                [strategy, indie, casual, simulation]
31307                            [strategy, indie, casual]
31308                          [indie, simulation, racing]
31309    [indie, casual, puzzle, singleplayer, atmosphe...
31310    [earlyaccess, adventure, indie, action, simula...
Name: tags, Length: 31301, dtype: object

In [7]:
# Create soup

def create_soup(x):
    return  ' '.join(x['genres']) + ' ' + ' '.join(x['tags']) + ' ' + ' '.join(x['specs']) + ' '+ ' '.join(x['publisher']) + ' ' +' '.join(x['developer'])

df4_cleaned['soup'] = df4_cleaned.apply(create_soup, axis=1)

#### DF2

In [8]:
df2_cleaned = pd.read_csv('clean_df2.csv', index_col=0)
df2_cleaned.drop(columns=['user_url'], inplace=True)

In [9]:
df2_df4_merge = pd.merge(df2_cleaned, df4_cleaned, left_on='item_id', right_on='item_id', how='inner')

In [10]:
df2_df4_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4288227 entries, 0 to 4288226
Data columns (total 15 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   items_count       int64
 2   steam_id          int64
 3   item_id           float64
 4   item_name         object
 5   playtime_forever  float64
 6   playtime_2weeks   float64
 7   publisher         object
 8   genres            object
 9   title             object
 10  tags              object
 11  specs             object
 12  price             float64
 13  developer         object
 14  soup              object
dtypes: float64(4), int64(2), object(9)
memory usage: 490.7+ MB

In [11]:
df2_cleaned.drop(columns=['steam_id'], inplace=True)

#### Merge DF

In [12]:
df2_df4_merge = pd.merge(df2_cleaned, df4_cleaned, left_on='item_id', right_on='item_id', how='inner')

In [13]:
# merge item_name and title -> title

df2_df4_merge["item_name_cleaned"] = df2_df4_merge['item_name'].fillna(df2_df4_merge['title'])

df2_df4_merge = df2_df4_merge.dropna(subset=['item_name', 'title'], how='all')

df2_df4_merge.drop(columns=['item_name', 'title'], inplace=True)
df2_df4_merge.rename(columns={'item_name_cleaned': 'title'}, inplace=True)

In [14]:
df4_cleaned['tags']

0            [strategy, action, indie, casual, simulation]
1        [freetoplay, strategy, indie, rpg, cardgame, t...
2        [freetoplay, simulation, sports, casual, indie...
3                              [action, adventure, casual]
4                          [action, indie, casual, sports]
                               ...
31306                [strategy, indie, casual, simulation]
31307                            [strategy, indie, casual]
31308                          [indie, simulation, racing]
31309    [indie, casual, puzzle, singleplayer, atmosphe...
31310    [earlyaccess, adventure, indie, action, simula...
Name: tags, Length: 31301, dtype: object

In [15]:
df2_df4_merge['developer']

0                                            [valve]
1                                            [valve]
2                                            [valve]
3                                            [valve]
4                                  [gearboxsoftware]
                             ...
4288222                             [reperiostudios]
4288223                                           []
4288224                          [coagucoindustries]
4288225                              [tamationgames]
4288226    [rocksteadystudios,feralinteractive(mac)]
Name: developer, Length: 4288227, dtype: object

In [16]:
df2_df4_merge.head()

,user_id,items_count,item_id,playtime_forever,playtime_2weeks,publisher,genres,tags,specs,price,developer,soup,title
0,76561197970982479,277,10.0,6.0,0.0,[valve],[action],"[action, fps, multiplayer, shooter, classic, t...","[multi-player, valveanti-cheatenabled]",9.99,[valve],action action fps multiplayer shooter classic ...,Counter-Strike
1,76561197970982479,277,20.0,0.0,0.0,[valve],[action],"[action, fps, multiplayer, classic, shooter, c...","[multi-player, valveanti-cheatenabled]",4.99,[valve],action action fps multiplayer classic shooter ...,Team Fortress Classic
2,76561197970982479,277,30.0,7.0,0.0,[valve],[action],"[fps, worldwarii, multiplayer, action, shooter...","[multi-player, valveanti-cheatenabled]",4.99,[valve],action fps worldwarii multiplayer action shoot...,Day of Defeat
3,76561197970982479,277,40.0,0.0,0.0,[valve],[action],"[action, fps, multiplayer, classic, shooter, f...","[multi-player, valveanti-cheatenabled]",4.99,[valve],action action fps multiplayer classic shooter ...,Deathmatch Classic
4,76561197970982479,277,50.0,0.0,0.0,[valve],[action],"[fps, action, sci-fi, singleplayer, classic, s...","[single-player, multi-player, valveanti-cheate...",4.99,[gearboxsoftware],action fps action sci-fi singleplayer classic ...,Half-Life: Opposing Force

In [17]:
df2_df4_merge.dropna(subset=['soup', 'item_id'], inplace=True)

In [18]:
df2_df4_merge.shape

(4271421, 13)

In [19]:
len(df2_df4_merge)

4271421

In [20]:
df2_df4_merge.head()

,user_id,items_count,item_id,playtime_forever,playtime_2weeks,publisher,genres,tags,specs,price,developer,soup,title
0,76561197970982479,277,10.0,6.0,0.0,[valve],[action],"[action, fps, multiplayer, shooter, classic, t...","[multi-player, valveanti-cheatenabled]",9.99,[valve],action action fps multiplayer shooter classic ...,Counter-Strike
1,76561197970982479,277,20.0,0.0,0.0,[valve],[action],"[action, fps, multiplayer, classic, shooter, c...","[multi-player, valveanti-cheatenabled]",4.99,[valve],action action fps multiplayer classic shooter ...,Team Fortress Classic
2,76561197970982479,277,30.0,7.0,0.0,[valve],[action],"[fps, worldwarii, multiplayer, action, shooter...","[multi-player, valveanti-cheatenabled]",4.99,[valve],action fps worldwarii multiplayer action shoot...,Day of Defeat
3,76561197970982479,277,40.0,0.0,0.0,[valve],[action],"[action, fps, multiplayer, classic, shooter, f...","[multi-player, valveanti-cheatenabled]",4.99,[valve],action action fps multiplayer classic shooter ...,Deathmatch Classic
4,76561197970982479,277,50.0,0.0,0.0,[valve],[action],"[fps, action, sci-fi, singleplayer, classic, s...","[single-player, multi-player, valveanti-cheate...",4.99,[gearboxsoftware],action fps action sci-fi singleplayer classic ...,Half-Life: Opposing Force

In [21]:
df2_df4_merge.drop_duplicates(subset=['user_id', 'item_id'], keep='first', inplace=True)

In [22]:
df2_df4_merge.duplicated(subset=['user_id', 'item_id']).sum()

np.int64(0)

In [23]:
df2_df4_merge.shape

(4222232, 13)

In [24]:
items_df = df2_df4_merge.drop_duplicates(subset=['item_id'], keep='first').reset_index(drop=True)[['item_id', 'title', 'soup']]

## Data Featuring

#### Make implicit rating

In [25]:
df2_df4_merge['ratings']  = df2_df4_merge['playtime_forever'].apply(lambda x: np.log1p(x))

In [26]:
df2_df4_merge['ratings']

0          1.945910
1          0.000000
2          2.079442
3          0.000000
4          0.000000
             ...
4288221    3.784190
4288222    0.000000
4288223    0.000000
4288224    1.386294
4288225    1.609438
Name: ratings, Length: 4222232, dtype: float64

In [27]:
df2_df4_merge['playtime_2weeks'].max()

np.float64(19967.0)

Doesn't make sense since 19967 minutes = 332 hours = 13.8 days -> Play 2 weeks consecutively

In [28]:
df2_df4_merge = df2_df4_merge.loc[df2_df4_merge['playtime_2weeks'] < (14*3*60)] # maximum average 3 hours a day in 2 weeks

In [29]:
# Use playtime data to create ratings

df2_df4_merge['ratings'] = df2_df4_merge['playtime_forever'].apply(lambda x: np.log1p(x)) + df2_df4_merge['playtime_2weeks'].apply(lambda x: np.log1p(x))

In [30]:
df2_df4_merge['ratings'] # The higher rating, the more user likes the game

0          1.945910
1          0.000000
2          2.079442
3          0.000000
4          0.000000
             ...
4288221    7.568379
4288222    0.000000
4288223    0.000000
4288224    2.772589
4288225    3.218876
Name: ratings, Length: 4219566, dtype: float64

## Model Building

### 1, Game Similarity Calculation

Using Cosine Similarity Matrix

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
def content_recommender(title, cosine_sim, df):
    # get the index of the movie that matches the title
    idx = df.index[df['title']==title].tolist()[0]
   
    # get the pairwsie similarity scores of all movies with input movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # sort the movies based on the cosine similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # get the scores of the 10 most similar movies (ignore the first movie).
    sim_scores = sim_scores[1:11]

    # get the movie indices
    game_indices = [i[0] for i in sim_scores]

    df['sim'] = cosine_sim[idx]

    # return the top 10 most similar movies
    return df.iloc[game_indices, :][['title', 'sim']]

In [33]:
# Feature Extraction using soup

tfidf = TfidfVectorizer(stop_words='english')
best_tfidf = tfidf.fit_transform(items_df['soup'])
best_matrix = best_tfidf

In [34]:
best_matrix.shape

(8990, 7009)

In [35]:
best_cosine_sim = cosine_similarity(best_matrix, best_matrix)

In [36]:
items_df['title']

0                                     Counter-Strike
1                              Team Fortress Classic
2                                      Day of Defeat
3                                 Deathmatch Classic
4                          Half-Life: Opposing Force
                            ...
8985                                    Mimpi Dreams
8986    NOBUNAGA'S AMBITION: Souzou SengokuRisshiden
8987                                      ChaosTower
8988                   Aveyond 4: Shadow Of The Mist
8989                                   Arachnophobia
Name: title, Length: 8990, dtype: object

In [37]:
game_title = "Counter-Strike"

In [38]:
content_recommender(game_title, best_cosine_sim, items_df)

                                title       sim
231    Counter-Strike: Condition Zero  0.729891
9              Counter-Strike: Source  0.702722
2                       Day of Defeat  0.661861
139  Counter-Strike: Global Offensive  0.644215
21       Half-Life Deathmatch: Source  0.623832
3                  Deathmatch Classic  0.619960
1               Team Fortress Classic  0.609159
19            Half-Life 2: Deathmatch  0.586521
8               Day of Defeat: Source  0.581412
35                        Left 4 Dead  0.552508

### 2, Game Recommendation

#### a, Item-item: Assume the top-played games of an user as preference, then use similarity calculation to suggest games

In [39]:
def get_game_id(title, df):
    game_id = df.loc[df['title'] == title, 'id']
    if game_id.empty:
        return None
    return game_id.values[0]

In [40]:
def k_neighbors(game_id, df, n=10):
    if game_id not in df['item_id'].values:
        return None
    
    return_df = content_recommender(df.loc[df['item_id'] == game_id, 'title'].values[0], best_cosine_sim, df)

    return return_df.head(n)

In [41]:
def user_game_recommendation(user_id, n=10):
    if user_id not in df2_df4_merge['user_id'].values:
        return None
    
    recommendations = []
    
    games = df2_df4_merge.loc[df2_df4_merge['user_id'] == user_id].sort_values(['playtime_2weeks', 'playtime_forever'], ascending=False)
    if len(games) > 3:
        games = games.head(3)
        i = n // 3
    else:
        i = n // len(games)
    games = games['item_id'].values
    for game in games:
        recs_game = k_neighbors(game, items_df, i)
        recommendations.append(recs_game)

    return pd.concat(recommendations).drop_duplicates().reset_index(drop=True)

In [42]:
items_df.loc[items_df['title'] == "Mimpi Dreams"]

,item_id,title,soup,sim
8985,444770.0,Mimpi Dreams,adventure indie indie adventure cute puzzle-pl...,0.001762

In [43]:
df2_df4_merge['user_id']

0          76561197970982479
1          76561197970982479
2          76561197970982479
3          76561197970982479
4          76561197970982479
                 ...
4288221    76561198329548331
4288222    76561198329548331
4288223    76561198329548331
4288224    76561198329548331
4288225    76561198329548331
Name: user_id, Length: 4219566, dtype: object

In [44]:
user_game_recommendation("76561197970982479")

                                    title       sim
0                  Counter-Strike: Source  0.766110
1          Counter-Strike: Condition Zero  0.715153
2                           Day of Defeat  0.682087
3           Red Orchestra: Ostfront 41-45  0.862472
4                           Killing Floor  0.669118
5                         Killing Floor 2  0.661986
6  Sid Meier's Civilization: Beyond Earth  0.795172
7             Sid Meier's Civilization IV  0.563190
8     Geometry Wars 3: Dimensions Evolved  0.532996

These results are so close to the top-played game: Counter-Strike

#### b, Combine with user ratings (made from playtime data)

In [45]:
df2_df4_merge.head()

,user_id,items_count,item_id,playtime_forever,playtime_2weeks,publisher,genres,tags,specs,price,developer,soup,title,ratings
0,76561197970982479,277,10.0,6.0,0.0,[valve],[action],"[action, fps, multiplayer, shooter, classic, t...","[multi-player, valveanti-cheatenabled]",9.99,[valve],action action fps multiplayer shooter classic ...,Counter-Strike,1.945910
1,76561197970982479,277,20.0,0.0,0.0,[valve],[action],"[action, fps, multiplayer, classic, shooter, c...","[multi-player, valveanti-cheatenabled]",4.99,[valve],action action fps multiplayer classic shooter ...,Team Fortress Classic,0.000000
2,76561197970982479,277,30.0,7.0,0.0,[valve],[action],"[fps, worldwarii, multiplayer, action, shooter...","[multi-player, valveanti-cheatenabled]",4.99,[valve],action fps worldwarii multiplayer action shoot...,Day of Defeat,2.079442
3,76561197970982479,277,40.0,0.0,0.0,[valve],[action],"[action, fps, multiplayer, classic, shooter, f...","[multi-player, valveanti-cheatenabled]",4.99,[valve],action action fps multiplayer classic shooter ...,Deathmatch Classic,0.000000
4,76561197970982479,277,50.0,0.0,0.0,[valve],[action],"[fps, action, sci-fi, singleplayer, classic, s...","[single-player, multi-player, valveanti-cheate...",4.99,[gearboxsoftware],action fps action sci-fi singleplayer classic ...,Half-Life: Opposing Force,0.000000

In [46]:
items_df.head()

,item_id,title,soup,sim
0,10.0,Counter-Strike,action action fps multiplayer shooter classic ...,0.077537
1,20.0,Team Fortress Classic,action action fps multiplayer classic shooter ...,0.077093
2,30.0,Day of Defeat,action fps worldwarii multiplayer action shoot...,0.128318
3,40.0,Deathmatch Classic,action action fps multiplayer classic shooter ...,0.043219
4,50.0,Half-Life: Opposing Force,action fps action sci-fi singleplayer classic ...,0.062242

In [47]:
item_list = items_df["item_id"].astype(float).tolist()
item_list

[10.0,
 20.0,
 30.0,
 40.0,
 50.0,
 60.0,
 70.0,
 130.0,
 300.0,
 240.0,
 3830.0,
 2630.0,
 3900.0,
 3920.0,
 6400.0,
 6910.0,
 7670.0,
 409710.0,
 220.0,
 320.0,
 340.0,
 360.0,
 380.0,
 400.0,
 420.0,
 11450.0,
 7940.0,
 4700.0,
 12900.0,
 13250.0,
 16100.0,
 15700.0,
 15710.0,
 17330.0,
 22000.0,
 500.0,
 4560.0,
 17460.0,
 10500.0,
 24740.0,
 22200.0,
 26800.0,
 1250.0,
 35420.0,
 3590.0,
 8880.0,
 8890.0,
 35700.0,
 10140.0,
 35140.0,
 29180.0,
 15520.0,
 32370.0,
 37700.0,
 6020.0,
 550.0,
 8980.0,
 41500.0,
 20900.0,
 10180.0,
 17450.0,
 3170.0,
 25900.0,
 24980.0,
 8850.0,
 409720.0,
 46000.0,
 33230.0,
 20820.0,
 47700.0,
 24960.0,
 8190.0,
 49600.0,
 21090.0,
 33930.0,
 17410.0,
 50130.0,
 62100.0,
 31280.0,
 57300.0,
 8930.0,
 41000.0,
 41050.0,
 41060.0,
 227780.0,
 18040.0,
 22380.0,
 42700.0,
 62000.0,
 40800.0,
 9500.0,
 18700.0,
 58200.0,
 70400.0,
 41300.0,
 41800.0,
 42500.0,
 49900.0,
 55000.0,
 63200.0,
 620.0,
 42910.0,
 15500.0,
 18500.0,
 26500.0,
 35460.0,
 38700.0,
 38720.0,
 63700.0,
 280.0,
 20920.0,
 105600.0,
 98200.0,
 4500.0,
 9480.0,
 15620.0,
 20500.0,
 20570.0,
 50620.0,
 55100.0,
 55140.0,
 96100.0,
 35450.0,
 107100.0,
 57690.0,
 113200.0,
 65800.0,
 9200.0,
 48950.0,
 92800.0,
 104700.0,
 203770.0,
 110800.0,
 207610.0,
 98300.0,
 50300.0,
 204300.0,
 1700.0,
 205100.0,
 730.0,
 49520.0,
 200260.0,
 212680.0,
 200710.0,
 219150.0,
 215510.0,
 8870.0,
 200510.0,
 220240.0,
 218680.0,
 228280.0,
 212070.0,
 218230.0,
 236390.0,
 203160.0,
 227080.0,
 233450.0,
 322330.0,
 222730.0,
 241600.0,
 238930.0,
 217140.0,
 39140.0,
 225080.0,
 239030.0,
 248820.0,
 239350.0,
 218620.0,
 206420.0,
 236850.0,
 47790.0,
 250320.0,
 250900.0,
 204450.0,
 233270.0,
 251990.0,
 253980.0,
 236450.0,
 242050.0,
 257350.0,
 213670.0,
 238010.0,
 245470.0,
 221910.0,
 260230.0,
 238430.0,
 261030.0,
 261570.0,
 263980.0,
 39150.0,
 230230.0,
 373420.0,
 232790.0,
 237990.0,
 273620.0,
 222880.0,
 225840.0,
 280220.0,
 236430.0,
 201810.0,
 294860.0,
 295690.0,
 238460.0,
 237930.0,
 303390.0,
 306660.0,
 316790.0,
 318430.0,
 241930.0,
 328080.0,
 282070.0,
 333930.0,
 334120.0,
 257510.0,
 319630.0,
 346010.0,
 255710.0,
 232090.0,
 377160.0,
 340170.0,
 391540.0,
 396660.0,
 337000.0,
 368230.0,
 496300.0,
 231430.0,
 289130.0,
 268500.0,
 461640.0,
 379720.0,
 273350.0,
 80.0,
 3910.0,
 4000.0,
 6880.0,
 2200.0,
 2270.0,
 2280.0,
 2290.0,
 2300.0,
 2310.0,
 2320.0,
 2330.0,
 2340.0,
 2350.0,
 2360.0,
 2370.0,
 2390.0,
 9000.0,
 9010.0,
 9030.0,
 9040.0,
 9050.0,
 9060.0,
 9070.0,
 9160.0,
 9180.0,
 4760.0,
 2590.0,
 4230.0,
 4290.0,
 8600.0,
 8660.0,
 15310.0,
 17100.0,
 17120.0,
 21000.0,
 17470.0,
 27000.0,
 23700.0,
 22330.0,
 12830.0,
 24800.0,
 40200.0,
 40210.0,
 39900.0,
 46410.0,
 48800.0,
 70100.0,
 70110.0,
 70120.0,
 9940.0,
 23490.0,
 57600.0,
 60600.0,
 33950.0,
 12220.0,
 47810.0,
 39670.0,
 72200.0,
 65070.0,
 31700.0,
 21100.0,
 91900.0,
 70000.0,
 91600.0,
 41740.0,
 104200.0,
 22600.0,
 22610.0,
 92100.0,
 104600.0,
 98500.0,
 94200.0,
 7600.0,
 37100.0,
 16450.0,
 97000.0,
 3270.0,
 15900.0,
 15910.0,
 15920.0,
 15930.0,
 15950.0,
 15960.0,
 15970.0,
 16000.0,
 16020.0,
 16030.0,
 16040.0,
 16060.0,
 32110.0,
 32120.0,
 32140.0,
 32160.0,
 60340.0,
 22650.0,
 98800.0,
 22230.0,
 34830.0,
 61100.0,
 32800.0,
 65790.0,
 107200.0,
 111800.0,
 17710.0,
 63000.0,
 102840.0,
 55230.0,
 115100.0,
 80310.0,
 65730.0,
 71340.0,
 61310.0,
 24480.0,
 1600.0,
 41900.0,
 105450.0,
 8650.0,
 48000.0,
 115110.0,
 207170.0,
 207650.0,
 108200.0,
 102600.0,
 208600.0,
 209610.0,
 209360.0,
 50510.0,
 207690.0,
 205610.0,
 104900.0,
 205530.0,
 3990.0,
 8800.0,
 16810.0,
 211360.0,
 98400.0,
 204180.0,
 108800.0,
 207730.0,
 204100.0,
 207080.0,
 209790.0,
 213330.0,
 212010.0,
 214360.0,
 201790.0,
 108700.0,
 204220.0,
 202170.0,
 33600.0,
 214790.0,
 72000.0,
 218640.0,
 209540.0,
 214560.0,
 206440.0,
 220780.0,
 204360.0,
 221260.0,
 215790.0,
 219910.0,
 220860.0,
 65740.0,
 34030.0,
 211160.0,
 43100.0,
 217790.0,
 223220.0,
 4920.0,
 33670.0,
 218740.0,
 219950.0,
 38600.0,
 224900.0,
 223470.0,
 203140.0,
 20540.0,
 55110.0,
 209190.0,
 226120.0,
 221640.0,
 34870.0,
 105000.0,
 209950.0,
 4570.0,
 71230.0,
 71240.0,
 71250.0,
 71260.0,
 222980.0,
 35720.0,
 209270.0,
 224700.0,
 227300.0,
 204080.0,
 219890.0,
 223850.0,
 286080.0,
 224580.0,
 225260.0,
 218060.0,
 217920.0,
 232950.0,
 230150.0,
 225420.0,
 234490.0,
 233740.0,
 235360.0,
 234900.0,
 233720.0,
 234710.0,
 220900.0,
 210770.0,
 113020.0,
 22300.0,
 235250.0,
 224760.0,
 234650.0,
 236730.0,
 215690.0,
 57640.0,
 236090.0,
 268540.0,
 231160.0,
 231740.0,
 242760.0,
 242800.0,
 242920.0,
 243120.0,
 228960.0,
 242110.0,
 238050.0,
 95000.0,
 201420.0,
 244770.0,
 244890.0,
 40390.0,
 225640.0,
 246420.0,
 40300.0,
 207930.0,
 234390.0,
 246680.0,
 247020.0,
 214770.0,
 241620.0,
 244070.0,
 243780.0,
 244590.0,
 248370.0,
 248470.0,
 248490.0,
 248710.0,
 209000.0,
 239820.0,
 250260.0,
 250460.0,
 250580.0,
 214550.0,
 111900.0,
 251530.0,
 252010.0,
 252170.0,
 252310.0,
 252370.0,
 252490.0,
 252570.0,
 252830.0,
 252910.0,
 253410.0,
 253630.0,
 253650.0,
 253880.0,
 3390.0,
 3480.0,
 3600.0,
 78000.0,
 3540.0,
 3620.0,
 255320.0,
 241540.0,
 224860.0,
 58520.0,
 204560.0,
 208730.0,
 209730.0,
 219780.0,
 231140.0,
 58610.0,
 205650.0,
 255870.0,
 29900.0,
 91100.0,
 207040.0,
 217690.0,
 57740.0,
 245620.0,
 247120.0,
 239160.0,
 233130.0,
 9350.0,
 9420.0,
 39650.0,
 39690.0,
 65530.0,
 214870.0,
 257690.0,
 257830.0,
 209390.0,
 231720.0,
 233210.0,
 235800.0,
 45500.0,
 258880.0,
 258890.0,
 258950.0,
 259390.0,
 259530.0,
 259570.0,
 259620.0,
 259780.0,
 212480.0,
 259870.0,
 259890.0,
 244090.0,
 207750.0,
 3020.0,
 252150.0,
 262260.0,
 221380.0,
 262830.0,
 263080.0,
 263280.0,
 263360.0,
 263520.0,
 263700.0,
 264140.0,
 264280.0,
 260750.0,
 70210.0,
 265870.0,
 265930.0,
 266010.0,
 266330.0,
 266390.0,
 266940.0,
 267060.0,
 267600.0,
 267610.0,
 267960.0,
 268650.0,
 269270.0,
 270190.0,
 270330.0,
 270550.0,
 267670.0,
 270750.0,
 270760.0,
 96200.0,
 237950.0,
 65780.0,
 260210.0,
 272990.0,
 273760.0,
 273940.0,
 208670.0,
 224480.0,
 12710.0,
 12770.0,
 44340.0,
 12810.0,
 274560.0,
 275080.0,
 275490.0,
 277430.0,
 277500.0,
 277590.0,
 34800.0,
 10270.0,
 279140.0,
 281410.0,
 246620.0,
 282100.0,
 282140.0,
 282440.0,
 282800.0,
 283040.0,
 283180.0,
 283390.0,
 283880.0,
 283960.0,
 286320.0,
 286500.0,
 286540.0,
 258180.0,
 287840.0,
 288160.0,
 289650.0,
 233290.0,
 289760.0,
 291270.0,
 292410.0,
 115210.0,
 4880.0,
 115200.0,
 294230.0,
 294530.0,
 294670.0,
 3050.0,
 200370.0,
 296470.0,
 296630.0,
 299580.0,
 300550.0,
 1500.0,
 1510.0,
 1520.0,
 1530.0,
 300820.0,
 301190.0,
 301200.0,
 286690.0,
 287390.0,
 302120.0,
 302460.0,
 244160.0,
 304460.0,
 306020.0,
 306040.0,
 250400.0,
 306350.0,
 306410.0,
 63380.0,
 307760.0,
 308330.0,
 237850.0,
 312280.0,
 316080.0,
 317400.0,
 317610.0,
 318100.0,
 318230.0,
 318350.0,
 318950.0,
 319230.0,
 319270.0,
 319400.0,
 319970.0,
 45100.0,
 289930.0,
 7860.0,
 46250.0,
 287450.0,
 241260.0,
 323430.0,
 302510.0,
 214490.0,
 221540.0,
 307690.0,
 326190.0,
 245300.0,
 286880.0,
 297860.0,
 301760.0,
 301980.0,
 311770.0,
 315440.0,
 316030.0,
 316260.0,
 316320.0,
 317580.0,
 319170.0,
 327740.0,
 327370.0,
 327860.0,
 24240.0,
 328880.0,
 329650.0,
 329830.0,
 211420.0,
 330350.0,
 330370.0,
 330660.0,
 330840.0,
 331790.0,
 305620.0,
 332480.0,
 332710.0,
 334620.0,
 334840.0,
 335200.0,
 335240.0,
 337420.0,
 339200.0,
 339800.0,
 340070.0,
 340300.0,
 340310.0,
 341080.0,
 341150.0,
 341500.0,
 341550.0,
 342360.0,
 343390.0,
 335660.0,
 344030.0,
 344040.0,
 344790.0,
 215080.0,
 301910.0,
 345440.0,
 346040.0,
 346110.0,
 407530.0,
 346140.0,
 346290.0,
 346900.0,
 347350.0,
 347430.0,
 347590.0,
 347560.0,
 348360.0,
 348670.0,
 349260.0,
 349500.0,
 351340.0,
 351490.0,
 352190.0,
 331160.0,
 331450.0,
 331750.0,
 331970.0,
 332260.0,
 338300.0,
 339040.0,
 340990.0,
 343140.0,
 353640.0,
 311560.0,
 354640.0,
 355150.0,
 355950.0,
 356040.0,
 356570.0,
 359040.0,
 359050.0,
 359320.0,
 360590.0,
 360640.0,
 360730.0,
 360750.0,
 361160.0,
 361190.0,
 47780.0,
 362620.0,
 362890.0,
 363460.0,
 363490.0,
 363600.0,
 364270.0,
 365450.0,
 366990.0,
 238370.0,
 363580.0,
 370510.0,
 370550.0,
 370640.0,
 371420.0,
 371500.0,
 371510.0,
 371670.0,
 372030.0,
 375250.0,
 375460.0,
 375510.0,
 267750.0,
 376870.0,
 312530.0,
 380700.0,
 208650.0,
 267490.0,
 383330.0,
 383560.0,
 383800.0,
 384480.0,
 383870.0,
 384740.0,
 367580.0,
 385080.0,
 385830.0,
 386330.0,
 387840.0,
 388080.0,
 388160.0,
 391070.0,
 391420.0,
 394310.0,
 394540.0,
 395270.0,
 396260.0,
 398710.0,
 399430.0,
 402670.0,
 403560.0,
 403570.0,
 403900.0,
 403740.0,
 404480.0,
 405640.0,
 408940.0,
 410210.0,
 411960.0,
 412600.0,
 413150.0,
 272890.0,
 415420.0,
 416080.0,
 416550.0,
 418070.0,
 418910.0,
 2700.0,
 285310.0,
 285330.0,
 427520.0,
 431240.0,
 432020.0,
 433950.0,
 264240.0,
 438010.0,
 438020.0,
 438030.0,
 438080.0,
 438180.0,
 310380.0,
 439260.0,
 4720.0,
 34270.0,
 203750.0,
 444480.0,
 448630.0,
 448660.0,
 449200.0,
 449540.0,
 451880.0,
 454200.0,
 454890.0,
 463210.0,
 463220.0,
 463350.0,
 466840.0,
 469730.0,
 473450.0,
 485330.0,
 485890.0,
 491330.0,
 397060.0,
 1200.0,
 1230.0,
 1280.0,
 3720.0,
 32360.0,
 67000.0,
 2210.0,
 22310.0,
 22320.0,
 22340.0,
 22350.0,
 22370.0,
 22450.0,
 2820.0,
 201310.0,
 230410.0,
 224500.0,
 214730.0,
 238240.0,
 248390.0,
 2870.0,
 252110.0,
 254200.0,
 226620.0,
 265950.0,
 211820.0,
 275850.0,
 292330.0,
 226860.0,
 38410.0,
 247080.0,
 324260.0,
 275670.0,
 340580.0,
 344850.0,
 351510.0,
 365300.0,
 298180.0,
 370360.0,
 372190.0,
 383120.0,
 388880.0,
 234140.0,
 396890.0,
 404410.0,
 364360.0,
 454060.0,
 466170.0,
 1300.0,
 6850.0,
 12100.0,
 12120.0,
 12140.0,
 12150.0,
 15100.0,
 16600.0,
 12360.0,
 17300.0,
 19830.0,
 12200.0,
 11590.0,
 21660.0,
 13570.0,
 40700.0,
 33610.0,
 32430.0,
 3730.0,
 40930.0,
 34010.0,
 3960.0,
 3980.0,
 7610.0,
 7620.0,
 7650.0,
 7660.0,
 7730.0,
 7760.0,
 7770.0,
 40950.0,
 40970.0,
 40980.0,
 41700.0,
 45740.0,
 70300.0,
 35130.0,
 47870.0,
 227560.0,
 18000.0,
 18020.0,
 48190.0,
 63710.0,
 95300.0,
 92000.0,
 45760.0,
 57900.0,
 67370.0,
 207570.0,
 204060.0,
 6860.0,
 6900.0,
 200390.0,
 209830.0,
 205910.0,
 108710.0,
 202750.0,
 107800.0,
 108500.0,
 65300.0,
 207420.0,
 214970.0,
 219680.0,
 388410.0,
 ...]

In [48]:
item_order = {item: order for item, order in enumerate(item_list)}
item_order

{0: 10.0,
 1: 20.0,
 2: 30.0,
 3: 40.0,
 4: 50.0,
 5: 60.0,
 6: 70.0,
 7: 130.0,
 8: 300.0,
 9: 240.0,
 10: 3830.0,
 11: 2630.0,
 12: 3900.0,
 13: 3920.0,
 14: 6400.0,
 15: 6910.0,
 16: 7670.0,
 17: 409710.0,
 18: 220.0,
 19: 320.0,
 20: 340.0,
 21: 360.0,
 22: 380.0,
 23: 400.0,
 24: 420.0,
 25: 11450.0,
 26: 7940.0,
 27: 4700.0,
 28: 12900.0,
 29: 13250.0,
 30: 16100.0,
 31: 15700.0,
 32: 15710.0,
 33: 17330.0,
 34: 22000.0,
 35: 500.0,
 36: 4560.0,
 37: 17460.0,
 38: 10500.0,
 39: 24740.0,
 40: 22200.0,
 41: 26800.0,
 42: 1250.0,
 43: 35420.0,
 44: 3590.0,
 45: 8880.0,
 46: 8890.0,
 47: 35700.0,
 48: 10140.0,
 49: 35140.0,
 50: 29180.0,
 51: 15520.0,
 52: 32370.0,
 53: 37700.0,
 54: 6020.0,
 55: 550.0,
 56: 8980.0,
 57: 41500.0,
 58: 20900.0,
 59: 10180.0,
 60: 17450.0,
 61: 3170.0,
 62: 25900.0,
 63: 24980.0,
 64: 8850.0,
 65: 409720.0,
 66: 46000.0,
 67: 33230.0,
 68: 20820.0,
 69: 47700.0,
 70: 24960.0,
 71: 8190.0,
 72: 49600.0,
 73: 21090.0,
 74: 33930.0,
 75: 17410.0,
 76: 50130.0,
 77: 62100.0,
 78: 31280.0,
 79: 57300.0,
 80: 8930.0,
 81: 41000.0,
 82: 41050.0,
 83: 41060.0,
 84: 227780.0,
 85: 18040.0,
 86: 22380.0,
 87: 42700.0,
 88: 62000.0,
 89: 40800.0,
 90: 9500.0,
 91: 18700.0,
 92: 58200.0,
 93: 70400.0,
 94: 41300.0,
 95: 41800.0,
 96: 42500.0,
 97: 49900.0,
 98: 55000.0,
 99: 63200.0,
 100: 620.0,
 101: 42910.0,
 102: 15500.0,
 103: 18500.0,
 104: 26500.0,
 105: 35460.0,
 106: 38700.0,
 107: 38720.0,
 108: 63700.0,
 109: 280.0,
 110: 20920.0,
 111: 105600.0,
 112: 98200.0,
 113: 4500.0,
 114: 9480.0,
 115: 15620.0,
 116: 20500.0,
 117: 20570.0,
 118: 50620.0,
 119: 55100.0,
 120: 55140.0,
 121: 96100.0,
 122: 35450.0,
 123: 107100.0,
 124: 57690.0,
 125: 113200.0,
 126: 65800.0,
 127: 9200.0,
 128: 48950.0,
 129: 92800.0,
 130: 104700.0,
 131: 203770.0,
 132: 110800.0,
 133: 207610.0,
 134: 98300.0,
 135: 50300.0,
 136: 204300.0,
 137: 1700.0,
 138: 205100.0,
 139: 730.0,
 140: 49520.0,
 141: 200260.0,
 142: 212680.0,
 143: 200710.0,
 144: 219150.0,
 145: 215510.0,
 146: 8870.0,
 147: 200510.0,
 148: 220240.0,
 149: 218680.0,
 150: 228280.0,
 151: 212070.0,
 152: 218230.0,
 153: 236390.0,
 154: 203160.0,
 155: 227080.0,
 156: 233450.0,
 157: 322330.0,
 158: 222730.0,
 159: 241600.0,
 160: 238930.0,
 161: 217140.0,
 162: 39140.0,
 163: 225080.0,
 164: 239030.0,
 165: 248820.0,
 166: 239350.0,
 167: 218620.0,
 168: 206420.0,
 169: 236850.0,
 170: 47790.0,
 171: 250320.0,
 172: 250900.0,
 173: 204450.0,
 174: 233270.0,
 175: 251990.0,
 176: 253980.0,
 177: 236450.0,
 178: 242050.0,
 179: 257350.0,
 180: 213670.0,
 181: 238010.0,
 182: 245470.0,
 183: 221910.0,
 184: 260230.0,
 185: 238430.0,
 186: 261030.0,
 187: 261570.0,
 188: 263980.0,
 189: 39150.0,
 190: 230230.0,
 191: 373420.0,
 192: 232790.0,
 193: 237990.0,
 194: 273620.0,
 195: 222880.0,
 196: 225840.0,
 197: 280220.0,
 198: 236430.0,
 199: 201810.0,
 200: 294860.0,
 201: 295690.0,
 202: 238460.0,
 203: 237930.0,
 204: 303390.0,
 205: 306660.0,
 206: 316790.0,
 207: 318430.0,
 208: 241930.0,
 209: 328080.0,
 210: 282070.0,
 211: 333930.0,
 212: 334120.0,
 213: 257510.0,
 214: 319630.0,
 215: 346010.0,
 216: 255710.0,
 217: 232090.0,
 218: 377160.0,
 219: 340170.0,
 220: 391540.0,
 221: 396660.0,
 222: 337000.0,
 223: 368230.0,
 224: 496300.0,
 225: 231430.0,
 226: 289130.0,
 227: 268500.0,
 228: 461640.0,
 229: 379720.0,
 230: 273350.0,
 231: 80.0,
 232: 3910.0,
 233: 4000.0,
 234: 6880.0,
 235: 2200.0,
 236: 2270.0,
 237: 2280.0,
 238: 2290.0,
 239: 2300.0,
 240: 2310.0,
 241: 2320.0,
 242: 2330.0,
 243: 2340.0,
 244: 2350.0,
 245: 2360.0,
 246: 2370.0,
 247: 2390.0,
 248: 9000.0,
 249: 9010.0,
 250: 9030.0,
 251: 9040.0,
 252: 9050.0,
 253: 9060.0,
 254: 9070.0,
 255: 9160.0,
 256: 9180.0,
 257: 4760.0,
 258: 2590.0,
 259: 4230.0,
 260: 4290.0,
 261: 8600.0,
 262: 8660.0,
 263: 15310.0,
 264: 17100.0,
 265: 17120.0,
 266: 21000.0,
 267: 17470.0,
 268: 27000.0,
 269: 23700.0,
 270: 22330.0,
 271: 12830.0,
 272: 24800.0,
 273: 40200.0,
 274: 40210.0,
 275: 39900.0,
 276: 46410.0,
 277: 48800.0,
 278: 70100.0,
 279: 70110.0,
 280: 70120.0,
 281: 9940.0,
 282: 23490.0,
 283: 57600.0,
 284: 60600.0,
 285: 33950.0,
 286: 12220.0,
 287: 47810.0,
 288: 39670.0,
 289: 72200.0,
 290: 65070.0,
 291: 31700.0,
 292: 21100.0,
 293: 91900.0,
 294: 70000.0,
 295: 91600.0,
 296: 41740.0,
 297: 104200.0,
 298: 22600.0,
 299: 22610.0,
 300: 92100.0,
 301: 104600.0,
 302: 98500.0,
 303: 94200.0,
 304: 7600.0,
 305: 37100.0,
 306: 16450.0,
 307: 97000.0,
 308: 3270.0,
 309: 15900.0,
 310: 15910.0,
 311: 15920.0,
 312: 15930.0,
 313: 15950.0,
 314: 15960.0,
 315: 15970.0,
 316: 16000.0,
 317: 16020.0,
 318: 16030.0,
 319: 16040.0,
 320: 16060.0,
 321: 32110.0,
 322: 32120.0,
 323: 32140.0,
 324: 32160.0,
 325: 60340.0,
 326: 22650.0,
 327: 98800.0,
 328: 22230.0,
 329: 34830.0,
 330: 61100.0,
 331: 32800.0,
 332: 65790.0,
 333: 107200.0,
 334: 111800.0,
 335: 17710.0,
 336: 63000.0,
 337: 102840.0,
 338: 55230.0,
 339: 115100.0,
 340: 80310.0,
 341: 65730.0,
 342: 71340.0,
 343: 61310.0,
 344: 24480.0,
 345: 1600.0,
 346: 41900.0,
 347: 105450.0,
 348: 8650.0,
 349: 48000.0,
 350: 115110.0,
 351: 207170.0,
 352: 207650.0,
 353: 108200.0,
 354: 102600.0,
 355: 208600.0,
 356: 209610.0,
 357: 209360.0,
 358: 50510.0,
 359: 207690.0,
 360: 205610.0,
 361: 104900.0,
 362: 205530.0,
 363: 3990.0,
 364: 8800.0,
 365: 16810.0,
 366: 211360.0,
 367: 98400.0,
 368: 204180.0,
 369: 108800.0,
 370: 207730.0,
 371: 204100.0,
 372: 207080.0,
 373: 209790.0,
 374: 213330.0,
 375: 212010.0,
 376: 214360.0,
 377: 201790.0,
 378: 108700.0,
 379: 204220.0,
 380: 202170.0,
 381: 33600.0,
 382: 214790.0,
 383: 72000.0,
 384: 218640.0,
 385: 209540.0,
 386: 214560.0,
 387: 206440.0,
 388: 220780.0,
 389: 204360.0,
 390: 221260.0,
 391: 215790.0,
 392: 219910.0,
 393: 220860.0,
 394: 65740.0,
 395: 34030.0,
 396: 211160.0,
 397: 43100.0,
 398: 217790.0,
 399: 223220.0,
 400: 4920.0,
 401: 33670.0,
 402: 218740.0,
 403: 219950.0,
 404: 38600.0,
 405: 224900.0,
 406: 223470.0,
 407: 203140.0,
 408: 20540.0,
 409: 55110.0,
 410: 209190.0,
 411: 226120.0,
 412: 221640.0,
 413: 34870.0,
 414: 105000.0,
 415: 209950.0,
 416: 4570.0,
 417: 71230.0,
 418: 71240.0,
 419: 71250.0,
 420: 71260.0,
 421: 222980.0,
 422: 35720.0,
 423: 209270.0,
 424: 224700.0,
 425: 227300.0,
 426: 204080.0,
 427: 219890.0,
 428: 223850.0,
 429: 286080.0,
 430: 224580.0,
 431: 225260.0,
 432: 218060.0,
 433: 217920.0,
 434: 232950.0,
 435: 230150.0,
 436: 225420.0,
 437: 234490.0,
 438: 233740.0,
 439: 235360.0,
 440: 234900.0,
 441: 233720.0,
 442: 234710.0,
 443: 220900.0,
 444: 210770.0,
 445: 113020.0,
 446: 22300.0,
 447: 235250.0,
 448: 224760.0,
 449: 234650.0,
 450: 236730.0,
 451: 215690.0,
 452: 57640.0,
 453: 236090.0,
 454: 268540.0,
 455: 231160.0,
 456: 231740.0,
 457: 242760.0,
 458: 242800.0,
 459: 242920.0,
 460: 243120.0,
 461: 228960.0,
 462: 242110.0,
 463: 238050.0,
 464: 95000.0,
 465: 201420.0,
 466: 244770.0,
 467: 244890.0,
 468: 40390.0,
 469: 225640.0,
 470: 246420.0,
 471: 40300.0,
 472: 207930.0,
 473: 234390.0,
 474: 246680.0,
 475: 247020.0,
 476: 214770.0,
 477: 241620.0,
 478: 244070.0,
 479: 243780.0,
 480: 244590.0,
 481: 248370.0,
 482: 248470.0,
 483: 248490.0,
 484: 248710.0,
 485: 209000.0,
 486: 239820.0,
 487: 250260.0,
 488: 250460.0,
 489: 250580.0,
 490: 214550.0,
 491: 111900.0,
 492: 251530.0,
 493: 252010.0,
 494: 252170.0,
 495: 252310.0,
 496: 252370.0,
 497: 252490.0,
 498: 252570.0,
 499: 252830.0,
 500: 252910.0,
 501: 253410.0,
 502: 253630.0,
 503: 253650.0,
 504: 253880.0,
 505: 3390.0,
 506: 3480.0,
 507: 3600.0,
 508: 78000.0,
 509: 3540.0,
 510: 3620.0,
 511: 255320.0,
 512: 241540.0,
 513: 224860.0,
 514: 58520.0,
 515: 204560.0,
 516: 208730.0,
 517: 209730.0,
 518: 219780.0,
 519: 231140.0,
 520: 58610.0,
 521: 205650.0,
 522: 255870.0,
 523: 29900.0,
 524: 91100.0,
 525: 207040.0,
 526: 217690.0,
 527: 57740.0,
 528: 245620.0,
 529: 247120.0,
 530: 239160.0,
 531: 233130.0,
 532: 9350.0,
 533: 9420.0,
 534: 39650.0,
 535: 39690.0,
 536: 65530.0,
 537: 214870.0,
 538: 257690.0,
 539: 257830.0,
 540: 209390.0,
 541: 231720.0,
 542: 233210.0,
 543: 235800.0,
 544: 45500.0,
 545: 258880.0,
 546: 258890.0,
 547: 258950.0,
 548: 259390.0,
 549: 259530.0,
 550: 259570.0,
 551: 259620.0,
 552: 259780.0,
 553: 212480.0,
 554: 259870.0,
 555: 259890.0,
 556: 244090.0,
 557: 207750.0,
 558: 3020.0,
 559: 252150.0,
 560: 262260.0,
 561: 221380.0,
 562: 262830.0,
 563: 263080.0,
 564: 263280.0,
 565: 263360.0,
 566: 263520.0,
 567: 263700.0,
 568: 264140.0,
 569: 264280.0,
 570: 260750.0,
 571: 70210.0,
 572: 265870.0,
 573: 265930.0,
 574: 266010.0,
 575: 266330.0,
 576: 266390.0,
 577: 266940.0,
 578: 267060.0,
 579: 267600.0,
 580: 267610.0,
 581: 267960.0,
 582: 268650.0,
 583: 269270.0,
 584: 270190.0,
 585: 270330.0,
 586: 270550.0,
 587: 267670.0,
 588: 270750.0,
 589: 270760.0,
 590: 96200.0,
 591: 237950.0,
 592: 65780.0,
 593: 260210.0,
 594: 272990.0,
 595: 273760.0,
 596: 273940.0,
 597: 208670.0,
 598: 224480.0,
 599: 12710.0,
 600: 12770.0,
 601: 44340.0,
 602: 12810.0,
 603: 274560.0,
 604: 275080.0,
 605: 275490.0,
 606: 277430.0,
 607: 277500.0,
 608: 277590.0,
 609: 34800.0,
 610: 10270.0,
 611: 279140.0,
 612: 281410.0,
 613: 246620.0,
 614: 282100.0,
 615: 282140.0,
 616: 282440.0,
 617: 282800.0,
 618: 283040.0,
 619: 283180.0,
 620: 283390.0,
 621: 283880.0,
 622: 283960.0,
 623: 286320.0,
 624: 286500.0,
 625: 286540.0,
 626: 258180.0,
 627: 287840.0,
 628: 288160.0,
 629: 289650.0,
 630: 233290.0,
 631: 289760.0,
 632: 291270.0,
 633: 292410.0,
 634: 115210.0,
 635: 4880.0,
 636: 115200.0,
 637: 294230.0,
 638: 294530.0,
 639: 294670.0,
 640: 3050.0,
 641: 200370.0,
 642: 296470.0,
 643: 296630.0,
 644: 299580.0,
 645: 300550.0,
 646: 1500.0,
 647: 1510.0,
 648: 1520.0,
 649: 1530.0,
 650: 300820.0,
 651: 301190.0,
 652: 301200.0,
 653: 286690.0,
 654: 287390.0,
 655: 302120.0,
 656: 302460.0,
 657: 244160.0,
 658: 304460.0,
 659: 306020.0,
 660: 306040.0,
 661: 250400.0,
 662: 306350.0,
 663: 306410.0,
 664: 63380.0,
 665: 307760.0,
 666: 308330.0,
 667: 237850.0,
 668: 312280.0,
 669: 316080.0,
 670: 317400.0,
 671: 317610.0,
 672: 318100.0,
 673: 318230.0,
 674: 318350.0,
 675: 318950.0,
 676: 319230.0,
 677: 319270.0,
 678: 319400.0,
 679: 319970.0,
 680: 45100.0,
 681: 289930.0,
 682: 7860.0,
 683: 46250.0,
 684: 287450.0,
 685: 241260.0,
 686: 323430.0,
 687: 302510.0,
 688: 214490.0,
 689: 221540.0,
 690: 307690.0,
 691: 326190.0,
 692: 245300.0,
 693: 286880.0,
 694: 297860.0,
 695: 301760.0,
 696: 301980.0,
 697: 311770.0,
 698: 315440.0,
 699: 316030.0,
 700: 316260.0,
 701: 316320.0,
 702: 317580.0,
 703: 319170.0,
 704: 327740.0,
 705: 327370.0,
 706: 327860.0,
 707: 24240.0,
 708: 328880.0,
 709: 329650.0,
 710: 329830.0,
 711: 211420.0,
 712: 330350.0,
 713: 330370.0,
 714: 330660.0,
 715: 330840.0,
 716: 331790.0,
 717: 305620.0,
 718: 332480.0,
 719: 332710.0,
 720: 334620.0,
 721: 334840.0,
 722: 335200.0,
 723: 335240.0,
 724: 337420.0,
 725: 339200.0,
 726: 339800.0,
 727: 340070.0,
 728: 340300.0,
 729: 340310.0,
 730: 341080.0,
 731: 341150.0,
 732: 341500.0,
 733: 341550.0,
 734: 342360.0,
 735: 343390.0,
 736: 335660.0,
 737: 344030.0,
 738: 344040.0,
 739: 344790.0,
 740: 215080.0,
 741: 301910.0,
 742: 345440.0,
 743: 346040.0,
 744: 346110.0,
 745: 407530.0,
 746: 346140.0,
 747: 346290.0,
 748: 346900.0,
 749: 347350.0,
 750: 347430.0,
 751: 347590.0,
 752: 347560.0,
 753: 348360.0,
 754: 348670.0,
 755: 349260.0,
 756: 349500.0,
 757: 351340.0,
 758: 351490.0,
 759: 352190.0,
 760: 331160.0,
 761: 331450.0,
 762: 331750.0,
 763: 331970.0,
 764: 332260.0,
 765: 338300.0,
 766: 339040.0,
 767: 340990.0,
 768: 343140.0,
 769: 353640.0,
 770: 311560.0,
 771: 354640.0,
 772: 355150.0,
 773: 355950.0,
 774: 356040.0,
 775: 356570.0,
 776: 359040.0,
 777: 359050.0,
 778: 359320.0,
 779: 360590.0,
 780: 360640.0,
 781: 360730.0,
 782: 360750.0,
 783: 361160.0,
 784: 361190.0,
 785: 47780.0,
 786: 362620.0,
 787: 362890.0,
 788: 363460.0,
 789: 363490.0,
 790: 363600.0,
 791: 364270.0,
 792: 365450.0,
 793: 366990.0,
 794: 238370.0,
 795: 363580.0,
 796: 370510.0,
 797: 370550.0,
 798: 370640.0,
 799: 371420.0,
 800: 371500.0,
 801: 371510.0,
 802: 371670.0,
 803: 372030.0,
 804: 375250.0,
 805: 375460.0,
 806: 375510.0,
 807: 267750.0,
 808: 376870.0,
 809: 312530.0,
 810: 380700.0,
 811: 208650.0,
 812: 267490.0,
 813: 383330.0,
 814: 383560.0,
 815: 383800.0,
 816: 384480.0,
 817: 383870.0,
 818: 384740.0,
 819: 367580.0,
 820: 385080.0,
 821: 385830.0,
 822: 386330.0,
 823: 387840.0,
 824: 388080.0,
 825: 388160.0,
 826: 391070.0,
 827: 391420.0,
 828: 394310.0,
 829: 394540.0,
 830: 395270.0,
 831: 396260.0,
 832: 398710.0,
 833: 399430.0,
 834: 402670.0,
 835: 403560.0,
 836: 403570.0,
 837: 403900.0,
 838: 403740.0,
 839: 404480.0,
 840: 405640.0,
 841: 408940.0,
 842: 410210.0,
 843: 411960.0,
 844: 412600.0,
 845: 413150.0,
 846: 272890.0,
 847: 415420.0,
 848: 416080.0,
 849: 416550.0,
 850: 418070.0,
 851: 418910.0,
 852: 2700.0,
 853: 285310.0,
 854: 285330.0,
 855: 427520.0,
 856: 431240.0,
 857: 432020.0,
 858: 433950.0,
 859: 264240.0,
 860: 438010.0,
 861: 438020.0,
 862: 438030.0,
 863: 438080.0,
 864: 438180.0,
 865: 310380.0,
 866: 439260.0,
 867: 4720.0,
 868: 34270.0,
 869: 203750.0,
 870: 444480.0,
 871: 448630.0,
 872: 448660.0,
 873: 449200.0,
 874: 449540.0,
 875: 451880.0,
 876: 454200.0,
 877: 454890.0,
 878: 463210.0,
 879: 463220.0,
 880: 463350.0,
 881: 466840.0,
 882: 469730.0,
 883: 473450.0,
 884: 485330.0,
 885: 485890.0,
 886: 491330.0,
 887: 397060.0,
 888: 1200.0,
 889: 1230.0,
 890: 1280.0,
 891: 3720.0,
 892: 32360.0,
 893: 67000.0,
 894: 2210.0,
 895: 22310.0,
 896: 22320.0,
 897: 22340.0,
 898: 22350.0,
 899: 22370.0,
 900: 22450.0,
 901: 2820.0,
 902: 201310.0,
 903: 230410.0,
 904: 224500.0,
 905: 214730.0,
 906: 238240.0,
 907: 248390.0,
 908: 2870.0,
 909: 252110.0,
 910: 254200.0,
 911: 226620.0,
 912: 265950.0,
 913: 211820.0,
 914: 275850.0,
 915: 292330.0,
 916: 226860.0,
 917: 38410.0,
 918: 247080.0,
 919: 324260.0,
 920: 275670.0,
 921: 340580.0,
 922: 344850.0,
 923: 351510.0,
 924: 365300.0,
 925: 298180.0,
 926: 370360.0,
 927: 372190.0,
 928: 383120.0,
 929: 388880.0,
 930: 234140.0,
 931: 396890.0,
 932: 404410.0,
 933: 364360.0,
 934: 454060.0,
 935: 466170.0,
 936: 1300.0,
 937: 6850.0,
 938: 12100.0,
 939: 12120.0,
 940: 12140.0,
 941: 12150.0,
 942: 15100.0,
 943: 16600.0,
 944: 12360.0,
 945: 17300.0,
 946: 19830.0,
 947: 12200.0,
 948: 11590.0,
 949: 21660.0,
 950: 13570.0,
 951: 40700.0,
 952: 33610.0,
 953: 32430.0,
 954: 3730.0,
 955: 40930.0,
 956: 34010.0,
 957: 3960.0,
 958: 3980.0,
 959: 7610.0,
 960: 7620.0,
 961: 7650.0,
 962: 7660.0,
 963: 7730.0,
 964: 7760.0,
 965: 7770.0,
 966: 40950.0,
 967: 40970.0,
 968: 40980.0,
 969: 41700.0,
 970: 45740.0,
 971: 70300.0,
 972: 35130.0,
 973: 47870.0,
 974: 227560.0,
 975: 18000.0,
 976: 18020.0,
 977: 48190.0,
 978: 63710.0,
 979: 95300.0,
 980: 92000.0,
 981: 45760.0,
 982: 57900.0,
 983: 67370.0,
 984: 207570.0,
 985: 204060.0,
 986: 6860.0,
 987: 6900.0,
 988: 200390.0,
 989: 209830.0,
 990: 205910.0,
 991: 108710.0,
 992: 202750.0,
 993: 107800.0,
 994: 108500.0,
 995: 65300.0,
 996: 207420.0,
 997: 214970.0,
 998: 219680.0,
 999: 388410.0,
 ...}

In [49]:
user_id = '76561197970982479'

In [50]:
item_list = items_df["item_id"].astype(str).tolist()
item_order = {item: order for order, item in enumerate(item_list)}

user_ratings = df2_df4_merge[['user_id', 'item_id', 'ratings']]
user_ratings = user_ratings.loc[user_ratings['user_id'] == user_id, :]
user_ratings['item_id'] = user_ratings['item_id'].astype(str)

In [51]:
# Make rt_matrix

user_ratings = user_ratings.groupby("item_id", as_index=False)["ratings"].sum()
user_ratings

      item_id   ratings
0        10.0  1.945910
1     10140.0  3.258097
2     10180.0  7.542744
3    104700.0  3.806662
4     10500.0  5.231109
..        ...       ...
226    9480.0  0.000000
227    9500.0  1.945910
228   96100.0  2.302585
229   98200.0  2.302585
230   98300.0  4.709530

[231 rows x 2 columns]

In [52]:
matrix_order = user_ratings['item_id'].map(item_order).to_numpy()
rt_matrix = np.zeros(len(item_list), dtype=np.float32)
rt_matrix[matrix_order] = user_ratings['ratings']

In [53]:
rt_matrix

array([1.9459101, 0.       , 2.0794415, ..., 0.       , 0.       ,
       0.       ], shape=(8990,), dtype=float32)

In [54]:
# Make function for convenience

def make_user_ratings(df, user_id):
    user_ratings = df[['user_id', 'item_id', 'ratings']]
    user_ratings = user_ratings.loc[user_ratings['user_id'] == user_id, :]
    user_ratings['item_id'] = user_ratings['item_id'].astype(str)

    # Make orders to map
    user_ratings = user_ratings.groupby("item_id", as_index=False)["ratings"].sum()
    matrix_order = user_ratings['item_id'].map(item_order).to_numpy()

    # Make rt_matrix
    rt_matrix = np.zeros(len(item_list), dtype=np.float32)
    rt_matrix[matrix_order] = user_ratings['ratings']

    return rt_matrix

In [55]:
make_user_ratings(df2_df4_merge, user_id)

array([1.9459101, 0.       , 2.0794415, ..., 0.       , 0.       ,
       0.       ], shape=(8990,), dtype=float32)

In [56]:
# adjust cosine = user-item rt_matrix @ item-item cosine similarity

def adjust_cosine(df, user_id, raw_cosine):

    rt_matrix = make_user_ratings(df, user_id)
    adjust_sims = rt_matrix @ raw_cosine

    return adjust_sims

In [57]:
cosine = adjust_cosine(df2_df4_merge, user_id, best_cosine_sim)

In [58]:
# exclude_played_games=True: do not include games which this user played in the recommendation list

def make_prediction(df, user_id, raw_cosine, exclude_played_games=True, k=10):

    cosine = adjust_cosine(df, user_id, raw_cosine)

    sorted_items = pd.DataFrame({"item_id": items_df['item_id'].values, "sims": cosine})
    sorted_items = sorted_items.sort_values(by=['sims'], ascending=False)

    played_game_ids = (df.loc[df['user_id'] == user_id, 'item_id'].unique())
    if exclude_played_games is True:
        sorted_new_games = sorted_items[~sorted_items['item_id'].isin(played_game_ids)]
        
    else:
        sorted_new_games = sorted_items

    top_k_item = sorted_new_games['item_id'].head(k).astype(np.float64)
    recommended_games = items_df.set_index("item_id").loc[top_k_item].reset_index()

    return recommended_games[['title']]

In [59]:
make_prediction(df2_df4_merge, user_id, best_cosine_sim, exclude_played_games=True, k=10)

                                  title
0                         Serious Sam 2
1            Call of Duty: Black Ops II
2     Tom Clancy's Rainbow Six: Vegas 2
3                             Sanctum 2
4                               Sanctum
5        Counter-Strike: Condition Zero
6  Tom Clancy's Splinter Cell Blacklist
7                                Arma 3
8             Tom Clancy's The Division
9                   Aliens vs. Predator

The results are close to Counter-Strike, while this user didn't play them (e.g: this (user, item) pair is not in the dataset)

## Model Evaluation/Validation

### a, Check truly recommended games' occurrences

In [60]:
val_ds = pd.read_csv("cleaned_merged_all_data.csv")

In [61]:
val_ds.loc[val_ds['user_id'] == user_id]

,user_id,review_text,posted,item_id,recommend,item_name,playtime_forever,playtime_2weeks,publisher,genres,title,tags,specs,price,developer
163,76561197970982479,It's unique and worth a playthrough.,2011-07-15,22200.0,True,Zeno Clash,271,0,ACE Team,"['Action', 'Indie']",Zeno Clash,"['Action', 'Indie', 'Surreal', ""Beat 'em up"", ...","['Single-player', 'Steam Achievements', 'Steam...",9.99,ACE Team
239,76561197970982479,Simple yet with great replayability. In my opi...,2011-11-05,1250.0,True,Killing Floor,10006,0,Tripwire Interactive,['Action'],Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...","['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,Tripwire Interactive

In [62]:
make_prediction(df2_df4_merge, user_id, best_cosine_sim, exclude_played_games=False, k=20)

                                        title
0                               Serious Sam 2
1                  Call of Duty: Black Ops II
2                                    Portal 2
3                                 Borderlands
4                               Left 4 Dead 2
5                                 Left 4 Dead
6           Tom Clancy's Rainbow Six: Vegas 2
7                                   Sanctum 2
8                                     Sanctum
9                                        RAGE
10             Counter-Strike: Condition Zero
11   Serious Sam Classic: The First Encounter
12             Call of Duty: Modern Warfare 2
13       Tom Clancy's Splinter Cell Blacklist
14        Serious Sam HD: The First Encounter
15                 Battlefield: Bad Company 2
16                                     Arma 3
17                  Tom Clancy's The Division
18                            Killing Floor 2
19  Serious Sam Classic: The Second Encounter

In [63]:
user_game_recommendation("76561197970982479")

                                    title       sim
0                  Counter-Strike: Source  0.766110
1          Counter-Strike: Condition Zero  0.715153
2                           Day of Defeat  0.682087
3           Red Orchestra: Ostfront 41-45  0.862472
4                           Killing Floor  0.669118
5                         Killing Floor 2  0.661986
6  Sid Meier's Civilization: Beyond Earth  0.795172
7             Sid Meier's Civilization IV  0.563190
8     Geometry Wars 3: Dimensions Evolved  0.532996

So Killing Floor is in top 10 (top 4 when using games' metadata only and top 6 when using games' metadata + playtime), but Zeno Clash is not in top 20. The result may be he just played this game 271 minutes, but still clicked on "recommended".

In [64]:
df2_df4_merge[(df2_df4_merge['title'] == 'Zeno Clash') & (df2_df4_merge['user_id'] == user_id)]

,user_id,items_count,item_id,playtime_forever,playtime_2weeks,publisher,genres,tags,specs,price,developer,soup,title,ratings
40,76561197970982479,277,22200.0,271.0,0.0,[aceteam],"[action, indie]","[action, indie, surreal, beat'emup, fps, fight...","[single-player, steamachievements, steamtradin...",9.99,[aceteam],action indie action indie surreal beat'emup fp...,Zeno Clash,5.605802

### b, Compare the metadata of truly recommended games and predicted games

In [65]:
prediction = make_prediction(df2_df4_merge, user_id, best_cosine_sim, exclude_played_games=True, k=10)

In [66]:
prediction_games = prediction['title'].tolist()
validation = df2_df4_merge.loc[df2_df4_merge['title'].isin(prediction_games), ['title', 'genres', 'tags', 'specs']]
validation = validation.drop_duplicates(subset=['title'])

In [67]:
validation

,title,genres,tags,specs
232,Counter-Strike: Condition Zero,[action],"[action, fps, shooter, multiplayer, singleplay...","[single-player, multi-player, valveanti-cheate..."
342,Sanctum,"[action, casual, indie, strategy]","[towerdefense, strategy, fps, action, co-op, i...","[single-player, multi-player, co-op, cross-pla..."
523,Sanctum 2,"[action, indie, strategy]","[towerdefense, fps, co-op, strategy, action, i...","[single-player, multi-player, co-op, steamachi..."
1656,Call of Duty: Black Ops II,[action],"[action, multiplayer, fps, shooter, first-pers...","[single-player, multi-player, co-op, steamachi..."
1898,Aliens vs. Predator,[action],"[action, fps, aliens, sci-fi, multiplayer, hor...","[single-player, multi-player, co-op, steamachi..."
1974,Serious Sam 2,"[action, indie]","[action, fps, co-op, comedy, multiplayer, firs...","[single-player, multi-player, co-op, partialco..."
2116,Arma 3,"[action, simulation, strategy]","[simulation, military, multiplayer, realistic,...","[single-player, multi-player, onlinemulti-play..."
2125,Tom Clancy's The Division,"[action, adventure, rpg]","[openworld, third-personshooter, multiplayer, ...","[single-player, multi-player, co-op, steamtrad..."
2244,Tom Clancy's Rainbow Six: Vegas 2,[action],"[action, tactical, fps, co-op, onlineco-op, mu...","[single-player, multi-player, co-op]"
4178,Tom Clancy's Splinter Cell Blacklist,"[action, adventure]","[stealth, action, co-op, thirdperson, multipla...","[single-player, multi-player, co-op]"

In [68]:
recommended_game = 'Killing Floor'
val_row = val_ds.loc[val_ds['title'] == recommended_game, ['title', 'genres', 'tags', 'specs']].iloc[[0]]
for feature in ['tags', 'genres', 'specs']:
    val_row[feature] = val_row[feature].apply(literal_eval)
    val_row[feature] = val_row[feature].apply(sanitize)

In [69]:
def check_metadata_occ(validation_df, val_row):
    val_genres = val_row['genres'].tolist()[0]
    val_tags = val_row['tags'].tolist()[0]
    val_specs = val_row['specs'].tolist()[0]

    def check(details, name):
        count = 0
        sum = 0
        lst = validation_df[name].tolist()
        for detail in details:
            count = 0
            for i in range(len(lst)):
                if detail in lst[i]:
                    count+=1
                
            if count > 5:
                sum+=1
        return sum
        
    sum_genres = check(val_genres, 'genres')
    genres_percentage = sum_genres / len(val_genres)

    sum_tags = check(val_tags, 'tags')
    tags_percentage = sum_tags / len(val_tags)

    sum_specs = check(val_specs, 'specs')
    specs_percentage = sum_specs / len(val_specs)

    print(f'genres: {genres_percentage * 100}%')
    print(f'tags: {tags_percentage * 100}%')
    print(f'specs: {specs_percentage * 100}%')
    return

In [70]:
check_metadata_occ(validation, val_row)

genres: 100.0%
tags: 50.0%
specs: 30.0%

So, for every single genres/tags/specs of the Killing Floor, I calculate how many times they appear in at least 5 out of 10 predicted games. The results are so good: 100% for genres, 50% and 50% for tags and specs. It proves that the truly recommended game is relevant to predicted games

Another example

In [71]:
df2_df4_merge['user_id'].unique()

array(['76561197970982479', 'js41637', 'evcentric', ...,
       '76561198323066619', '76561198326700687', '76561198329548331'],
      shape=(68700,), dtype=object)

In [72]:
prediction = make_prediction(df2_df4_merge, "js41637", best_cosine_sim, exclude_played_games=True, k=10)

In [73]:
prediction_games = prediction['title'].tolist()
validation = df2_df4_merge.loc[df2_df4_merge['title'].isin(prediction_games), ['title', 'genres', 'tags', 'specs']]
validation = validation.drop_duplicates(subset=['title'])
validation

,title,genres,tags,specs
1084,FortressCraft Evolved,"[adventure, casual, indie, rpg, simulation, st...","[sandbox, crafting, building, survival, indie,...","[single-player, multi-player, onlinemulti-play..."
1090,Starbound,"[action, adventure, casual, indie, rpg]","[sandbox, adventure, survival, indie, crafting...","[single-player, multi-player, onlinemulti-play..."
1770,Dead Rising 3,[action],"[zombies, action, openworld, co-op, gore, come...","[single-player, multi-player, co-op, steamachi..."
1797,The Escapists,"[action, adventure, indie, simulation, strategy]","[pixelgraphics, strategy, crafting, singleplay...","[single-player, steamachievements, steamtradin..."
1974,Serious Sam 2,"[action, indie]","[action, fps, co-op, comedy, multiplayer, firs...","[single-player, multi-player, co-op, partialco..."
3893,Labyronia RPG,"[action, adventure, indie, rpg]","[rpgmaker, rpg, adventure, anime, action, indi...","[single-player, steamachievements, fullcontrol..."
9192,Deadfall Adventures,"[action, adventure]","[adventure, action, fps, shooter, first-person...","[single-player, multi-player, co-op, steamachi..."
16714,Secret Of Magia,"[action, adventure, indie, rpg]","[rpgmaker, anime, rpg, indie, adventure, actio...","[single-player, steamachievements, fullcontrol..."
55811,Selknam Defense,"[action, indie, strategy]","[strategy, towerdefense, indie, action, advent...","[single-player, steamachievements, fullcontrol..."
78447,A Walk in the Dark,"[action, indie]","[indie, platformer, action, difficult, 2d, gre...","[single-player, steamachievements, fullcontrol..."

In [74]:
val_ds.loc[val_ds['user_id'] == 'js41637', :]

,user_id,review_text,posted,item_id,recommend,item_name,playtime_forever,playtime_2weeks,publisher,genres,title,tags,specs,price,developer
2054,js41637,For a simple (it's actually not all that simpl...,2013-09-08,227300.0,True,Euro Truck Simulator 2,551,0,SCS Software,"['Indie', 'Simulation']",Euro Truck Simulator 2,"['Simulation', 'Driving', 'Open World', 'Reali...","['Single-player', 'Steam Achievements', 'Steam...",19.99,SCS Software
2747,js41637,Very fun little game to play when your bored o...,2013-11-29,239030.0,True,"Papers, Please",349,0,3909,"['Adventure', 'Indie']","Papers, Please","['Indie', 'Political', 'Simulation', 'Point & ...","['Single-player', 'Steam Achievements', 'Steam...",9.99,3909

In [75]:
recommended_game = 'Euro Truck Simulator 2'
val_row = val_ds.loc[val_ds['title'] == recommended_game, ['title', 'genres', 'tags', 'specs']].iloc[[0]]
for feature in ['tags', 'genres', 'specs']:
    val_row[feature] = val_row[feature].apply(literal_eval)
    val_row[feature] = val_row[feature].apply(sanitize)

check_metadata_occ(validation, val_row)

genres: 50.0%
tags: 25.0%
specs: 50.0%